.Forecast .card {
  border-color: #fff;
}
.Forecast .card-body {
  padding: 16px 10px;
  text-align: center;
}

.Forecast .card-title,
.forecast-temp-min,
.forecast-temp-max {
  font-size: 15px;
}

.Forecast .card-title {
  margin-bottom: 20px;
}

.Forecast .forecast-temps {
  margin-top: 10px;
}

.Forecast .forecast-temp-min {
  opacity: 0.5;
}

.Forecast .forecast-temp-max {
  margin-right: 5px;
}
