.WeatherSearch h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.WeatherSearch .temp {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  margin-left: 60px;
}

.WeatherSearch h4 {
  font-weight: 400;
  margin: 0;
  font-size: 18px;
}

.WeatherSearch ul {
  font-size: 12px;
  font-weight: 500;
  list-style: none;
  opacity: 0.7;
  padding: 10px 0;
}

.WeatherSearch a {
  text-decoration: none;
}

.WeatherSearch a:hover {
  text-decoration: underline;
}

.WeatherSearch .units {
  position: relative;
  font-size: 18px;
  right: -12px;
  top: -33px;
}

.WeatherSearch .btn {
  padding: 0.375rem 2.75rem;
}

.WeatherSearch canvas {
  position: relative;
  right: -38px;
  top: 5px;
}
